<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Luxinten_ProductStickers::admin">
                <resource id="Luxinten_ProductStickers::content">
                    <resource id="Luxinten_ProductStickers::stickers" title="Luxinten Product Stickers extension">
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
